section(class='leaderboard-small')
  h5(class='title') Leaderboard
  table(class="u-full-width")
    thead
      tr
        th User
        th Score
      tr
    thead
    tbody
      tr
        td Koren
        td 7854
      tr
        td Andy
        td 456