nav(class='navbar')
  div(class='container row')
    div(class='two columns')
      h4
        a(href='/') DCC
    div(class='ten columns')
      ul(class='navbar-list')
        li(class='navbar-item')
          a(class='navbar-link' href='#') Dashboard
        li(class='navbar-item')
          a(class='navbar-link' href='#') About
        li(class='navbar-item')
          a(class='navbar-link' href='#') Logout