section(class='submissions')
  h3(class='title') Latest Submissions
  table(class="u-full-width")
    thead
      tr
        th User
        th Repository
        th Submission Date
        th Score
        th Ranking
        th Actions
      tr
    thead
    tbody
      tr
        td Koren
        td
          a(href='https://github.com/DailyCodeChallenge/challenge-1') https://github.com/DailyCodeChallenge/challenge-1
        td 20:31 (GMT)
        td 0
        td 1298
        td
          a(class='button' href='#') Review
      tr
        td Handy
        td
          a(href='https://github.com/HeartOfDarkness/challenge-1') https://github.com/HeartOfDarkness/challenge-1
        td 18:31 (GMT)
        td 15
        td 1st
        td
          a(class='button' href='#') Review