@import "colors";

.header {
  text-align: center;
  margin-top: 18rem;

  a {
    margin: 0.5rem;
  }
}

.container {
  &.participation {
    padding-top: 10rem;
    text-align: center;
    color: white;
  
    .column {
      padding-top: 10rem;
      padding-bottom: 10rem;
      cursor: pointer;

      i {
        font-size: 5rem;
        padding-bottom: 1rem;
      }
      p {
        min-height: 5rem;
      }

      &.code {
        background-color: @purple;
      }

      &.judge {
        background-color: @blue;
      }
    }
  }
}

.submissions {
  margin-top: 6rem;
  a {
    height: 30px;
    line-height: 30px;
    margin-bottom: 0rem;
    padding: 0 20px;
  }
}

.leaderboard-small {
  margin-top: 6rem;
}

.navbar{
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  h4 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: .2rem;
    line-height: 6.5rem;

    a {
      text-decoration: none;
    }
  }

  .navbar-list{
    list-style: none;
    float: right;
    margin-bottom: 0;
  }

  .navbar-item{
    position: relative;
    float: right;
    margin-bottom: 0;
  }

  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-left: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }
}