.header {
  text-align: center;
  margin-top: 18rem;

  a {
    margin: 0.5rem;
  }
}

.submissions {
  margin-top: 6rem;
  a {
    height: 30px;
    line-height: 30px;
    margin-bottom: 0rem;
    padding: 0 20px;
  }
}

.leaderboard-small {
  margin-top: 6rem;
}