@import "colors";

.header {
  text-align: center;
  margin-top: 18rem;

  a {
    margin: 0.5rem;
  }
}

.container {
  &.participation {
    padding-top: 10rem;
    text-align: center;
    color: white;
  }

  .column {
    padding-top: 10rem;
    padding-bottom: 10rem;
    cursor: pointer;

    i {
      font-size: 5rem;
      padding-bottom: 1rem;
    }
    p {
      min-height: 5rem;
    }

    &.code {
      background-color: @purple;
    }

    &.judge {
      background-color: @blue;
    }
  }
}

.submissions {
  margin-top: 6rem;
  a {
    height: 30px;
    line-height: 30px;
    margin-bottom: 0rem;
    padding: 0 20px;
  }
}

.leaderboard-small {
  margin-top: 6rem;
}