extends ../layout.jade

block content
  div(class='container')
    section(class='header')
      h2(class='title')!= challenge.title
      a(class='button button-primary' href='#{loginUrl}') Take the challenge!
      a(class='button' href='#') How it works
      include ../partials/submissions-latest.jade