extends ../layout.jade

block content
  div(class='container row participation')
    div(class='one-half column code')
      h3 I'll code!
      p Code the challenge and submit it to be reviewed by judges.
    div(class='one-half column judge')
      h3 I'll be the judge.
      p Review submitted code and help contestants to improve. Earn points as a mentor 